<div class="contentdata">
    <div class="content-header">
       
        <div class="button-bar-vertical">
            <a class="item-control item-create" data-type="Skill" title="{{localize 'dgalt.labels.skilldata.addnew'}}"><i class="fas fa-plus"></i></a>
            <a class="item-control skill-improvement" title="{{localize 'dgalt.labels.skilldata.rollimprove'}}"><i class="fas fa-angle-double-up"></i></a>
            <a class="item-control color-toggle" title="{{localize 'dgalt.labels.skilldata.colortoggle'}}"><i class="fas {{#if @root.actor.system.options.colorhighlight}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
        </div>

        <div class="vertical-header">
            {{localize 'dgalt.labels.skilldata.header'}}
        </div>
    </div>
    <div class="content-block">


        <ol class="skill-list">
            {{#each skills as |skill id|}}
            {{> "systems/delta-green-alt/templates/partials/skill-card.hbs" skill}}
            {{/each}}
        </ol>
    </div>
</div>