<div class="psychdata">

    <div class="psych-header">
        <div class="vertical-header">
            {{localize 'dgalt.labels.psychdata.header'}}
        </div>
    </div>

    <div class="bonds-block">
        <div class="bonds-label">
            <div class="form-label">{{localize 'dgalt.labels.psychdata.bondslabel'}}</div>
        </div>
        <div class="bonds-data">
            <ol class="bond-list">
                {{#each bonds as |bond id|}}
                {{> "systems/delta-green-alt/templates/partials/bond-card.hbs" bond}}
                {{/each}}
            </ol>
        </div>
    </div>


    <div class="mental-block">
        <div class="mental-label">
            <div class="form-label">{{localize 'dgalt.labels.psychdata.mentallabel'}}</div>
        </div>
        <div class="mental-data">
            <ol class="bond-list">
                {{#each mentalitems as |mental id|}}
                {{> "systems/delta-green-alt/templates/partials/mental-card.hbs" mental}}
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="adapted-block">
        <div class="adapted-label">
            <div class="form-label">{{localize 'dgalt.labels.psychdata.adaptedlabel'}}</div>
        </div>
        <div class="adapted-data">
            
                <div class="form-text">{{localize 'dgalt.labels.psychdata.violence'}}</div>
                <div class="item-controls">
                    <a class="item-control violence-checkmark" data-number="1"><i
                            class="fas {{#if (gte data.data.sanity.violencelevel 1)}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    <a class="item-control violence-checkmark" data-number="2"><i
                            class="fas {{#if (gte data.data.sanity.violencelevel 2)}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    <a class="item-control violence-checkmark" data-number="3"><i
                            class="fas {{#if (gte data.data.sanity.violencelevel 3)}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                </div>
                {{#if (gte data.data.sanity.violencelevel 3)}}
                    <div class="form-label">{{localize 'dgalt.labels.psychdata.adapted'}}</div>
                    {{/if}}
            
        </div>
    </div>

</div>