<div class="psychdata">

    <div class="psych-header">
        <div class="vertical-header">
            {{localize 'dgalt.labels.psychdata.header'}}
        </div>
    </div>

    <div class="bonds-block">
        <div class="bonds-label">
            <div class="form-label">{{localize 'dgalt.labels.psychdata.bondslabel'}}</div>
        </div>
        <div class="bonds-data">
            <ol class="bond-list">
                {{#each bonds as |bond id|}}
                {{> "systems/delta-green-alt/templates/partials/bond-card.hbs" bond}}
                {{/each}}
            </ol>
        </div>
    </div>


    <div class="mental-block">
        <div class="mental-label">
            <div class="form-label">{{localize 'dgalt.labels.psychdata.mentallabel'}}</div>
        </div>
        <div class="mental-data">
            <ol class="bond-list">
                {{#each mentalitems as |mental id|}}
                {{> "systems/delta-green-alt/templates/partials/mental-card.hbs" mental}}
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="adapted-block">
        <div class="adapted-label">
            <div class="form-label">{{localize 'dgalt.labels.psychdata.adaptedlabel'}}</div>
        </div>
        <div class="adapted-data">

            <div class="group-flex-horizontal">
                <div class="form-text-small">{{localize 'dgalt.labels.psychdata.violence'}}</div>
                <div class="custom-check">
                    <a class="item-control adaptation-checkmark" data-number="1" data-adapt="violence"><i
                            class="fas {{#if (gte @root.actor.system.sanity.violencelevel 1)}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    <a class="item-control adaptation-checkmark" data-number="2" data-adapt="violence"><i
                            class="fas {{#if (gte @root.actor.system.sanity.violencelevel 2)}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    <a class="item-control adaptation-checkmark" data-number="3" data-adapt="violence"><i
                            class="fas {{#if (gte @root.actor.system.sanity.violencelevel 3)}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                </div>
               
               <div class="form-label {{#unless (gte @root.actor.system.sanity.violencelevel 3)}}invisible{{/unless}}">{{localize 'dgalt.labels.psychdata.adapted'}}</div>
            
                <div class="form-text-small">{{localize 'dgalt.labels.psychdata.helplessness'}}</div>
                <div class="custom-check">
                    <a class="item-control adaptation-checkmark" data-number="1" data-adapt="helplessness"><i
                            class="fas {{#if (gte @root.actor.system.sanity.helplessnesslevel 1)}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    <a class="item-control adaptation-checkmark" data-number="2" data-adapt="helplessness"><i
                            class="fas {{#if (gte @root.actor.system.sanity.helplessnesslevel 2)}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    <a class="item-control adaptation-checkmark" data-number="3" data-adapt="helplessness"><i
                            class="fas {{#if (gte @root.actor.system.sanity.helplessnesslevel 3)}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                </div>
                
                <div class="form-label {{#unless (gte @root.actor.system.sanity.helplessnesslevel 3)}}invisible{{/unless}}">{{localize 'dgalt.labels.psychdata.adapted'}}</div>
               
            </div>

        </div>
    </div>

</div>