<li class="item armor-card" data-skill-id="{{_id}}" data-item-id="{{_id}}">


    <div class="gearcard-image" style="background-image: url('{{img}}')"></div>

    <!--<div class="weapon-name {{#if @root.system.options.editweapons}}inline-edit{{/if}} " data-dtype="String">{{name}}
    </div>-->

    <div class="gearcard-name" data-dtype="String">{{name}}
    </div>

    <div class="gearcard-stat">
        <input class="form-inputbox-number" type="number" name="protection" value="{{data.protection}}"
            data-dtype="number" readonly />
    </div>

    <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'dgalt.contextmenu.edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'dgalt.contextmenu.delete'}}"><i
                class="fas fa-trash"></i></a>
    </div>

</li>