<div class="item bond-card" data-bond-id="{{_id}}" data-item-id="{{_id}}">
    <div class="bond-name {{#if (eq system.value 0)}}strike{{/if}}" >
        {{name}} - {{system.relationship}}        
    </div>
    <div class="bond-score">
        <input class="inline-edit"  type="number" data-dtype="number" value="{{system.value}}" data-field="system.value"/>
    </div>
    <div class="item-controls">
        <a class="item-control item-edit" title="EDIT"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="DELETE"><i class="fas fa-trash"></i></a>
    </div>
</div>