<div class="item mental-card" data-mental-id="{{_id}}" data-item-id="{{_id}}">
    <div class="bond-name {{#if system.iscured }}strike{{/if}}" >
    {{#if system.isdisorder}}
        {{system.alternative}}
    {{else}}
        {{name}}
    {{/if}}
    </div>    
    <div class="item-controls">
        <a class="item-control item-edit" title="EDIT"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="DELETE"><i class="fas fa-trash"></i></a>
    </div>
</div>