<form class="item roll-card" data-skill-id="{{_id}}" data-item-id="{{_id}}">




    <img class="item-icon-small" src="{{img}}" data-edit="img" title="{{name}}" />
    <h3>{{name}}</h3>

    <div class="dice-result">
        <div class="dice-formula">{{rollresult.formula}}={{rollresult.total}}</div>
    
        <h4 class="dice-total">{{data.value}}+{{rollresult.total}}={{newskillvalue}}</h4>
    </div>


    




</form>