<form class="dgalt item roll-card" data-skill-id="{{_id}}" data-item-id="{{_id}}">

    <div class="itemdata">
        <div class="item-header">
            <div class="vertical-header">
                {{header}}
            </div>
        </div>

        <div class="item-block">

            <div class="item-titlebar">
                <img class="item-icon" src="{{img}}" data-edit="img" title="{{name}}" />
                <div class="expand">
                    <div class="form-label">{{localize 'name'}}</div>
                    <input class="form-inputbox item-label" name="name" type="text" value="{{name}}"
                        placeholder="{{ localize 'Name' }}" readonly />
                </div>
                {{#if ischeck}}
                <div class="center">
                    <div class="form-label">{{localize 'dgalt.labels.rolls.target'}}</div>
                    <input class="form-inputbox-number-stretch" type="number" name="target" value="{{target}}"
                        data-dtype="number" readonly />
                </div>
                {{/if}}
                {{#if islethality}}
                <div class="center">
                    <div class="form-label">{{localize 'dgalt.labels.rolls.target'}}</div>
                    <input class="form-inputbox-number-stretch" type="number" name="target" value="{{target}}"
                        data-dtype="number" readonly />
                </div>
                {{/if}}
            </div>

            <div class="item-data">
                {{description}}
            </div>

            <div class="dice-roll">
                {{#if flavor}}
                <div class="dice-flavor">{{flavor}}</div>
                {{/if}}
                <div class="dice-result">
                    <div class="dice-field">{{formula}}</div>
                    {{{tooltip}}}
                    <div class="dice-field">{{total}}</div>

                    {{#if ischeck}}
                    {{#if success}}<div class="dice-field green">PASS</div>{{else}}
                    <div class="dice-field red">FAIL</div>{{/if}}
                    {{#if critical}}<div class="dice-field">CRITICAL</div>{{/if}}
                    {{/if}}

                    {{#if islethality}}
                    {{#if success}}<div class="dice-field red">LETHAL</div>{{else}}
                    <div class="dice-field">DAMAGE</div>{{/if}}
                    {{/if}}

                    {{#if islethality}}
                    {{#if showmult}}
                    <div class="dice-field">{{mult}}*({{tens}}+{{ones}})={{lethdamage}}</div>
                    {{else}}
                    <div class="dice-field">{{tens}}+{{ones}}={{lethdamage}}</div>
                    {{/if}}
                    {{/if}}
                </div>


            </div>





        </div>
    </div>


</form>