<form class="dgalt item roll-card" data-skill-id="{{_id}}" data-item-id="{{_id}}">

    <div class="itemdata">
        <div class="item-header">
            <div class="vertical-header">
                {{header}}
            </div>
        </div>

        <div class="item-block">

            <div class="item-titlebar">
                <img class="item-icon" src="{{img}}" data-edit="img" title="{{name}}" />
                <div class="expand">
                    <div class="form-label">{{localize 'name'}}</div>
                    <input class="form-inputbox item-label" name="name" type="text" value="{{name}}"
                        placeholder="{{ localize 'Name' }}" readonly />
                </div>
                <div class="center">
                    <div class="form-label">{{localize 'dgalt.labels.rolls.target'}}</div>
                    <input class="form-inputbox-number-stretch" type="number" name="target" value="{{target}}"
                        data-dtype="number" readonly />
                </div>
            </div>

            <div class="item-data">
                {{description}}
            </div>

            <div class="dice-roll">
                {{#if flavor}}
                <div class="dice-flavor">{{flavor}}</div>
                {{/if}}
                <div class="dice-result">
                    <div class="dice-formula">{{formula}}</div>
                    {{{tooltip}}}
                    <h4 class="dice-total">{{total}}</h4>

                    {{#if success}}<h4 class="dice-total green">PASS</h4>{{else}}
                    <h4 class="dice-total red">FAIL</h4>{{/if}}
                    {{#if critical}}<h4 class="dice-total">CRITICAL</h4>{{/if}}
                </div>


            </div>





        </div>
    </div>


</form>