<li class="skill-card" data-skill-id="{{_id}}" data-item-id="{{_id}}" >    
    <div class="skill-name">
        <a class="item-control item-checkmark" title="EDIT"><i class="{{#if data.failcheck}}fa-square{{else}}fa-square-o{{/if}}"></i></a>               
        {{name}} ({{data.base}})
    </div>
    <div class="skill-score"><input class="form-inputbox-centered" name="value" type="text" data-dtype="number"
            value="{{data.value}}" disabled /></div>
    <div class="skill-edit">
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
</li>