<form class="item-sheet {{cssClass}}" autocomplete="off">

    <div class="itemdata">
        <div class="item-header">
            <div class="vertical-header">
                {{ localize "dgalt.geartypes.gear"}}
            </div>
        </div>
        <div class="item-block">
            <div class="item-titlebar">
                <img class="item-icon" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                <div class="expand">
                    <div class="form-label">{{localize 'name'}}</div>
                    <input class="form-inputbox item-label" name="name" type="text" value="{{item.name}}"
                        placeholder="{{ localize 'Name' }}" />
                </div>
            </div>
            <div class="item-data">
                <hr>

                <div class="form-hor-group">
                    <div>
                        <div class="form-label">{{localize
                            'dgalt.labels.weaponsheet.expense'}}</div>
                        <select class="select" name="data.expense">
                            {{selectOptions config.expense selected=item.system.expense localize=true}}
                        </select>
                    </div>
                </div>

                <div class="form-hor-group">
                    <a class="item-control item-checkmark" data-field="system.isrestricted"><i
                            class="fas {{#if item.system.isrestricted}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    <div class="form-label">{{localize
                        'dgalt.labels.weaponsheet.isrestricted'}}</div>
                </div>
            </div>

            <div class="form-label">{{localize 'dgalt.labels.skillsheet.description'}}</div>
            {{editor item.system.description target="system.description" button=true owner=owner
            editable=editable}}
        </div>
    </div>
</form>