<form class="item-sheet {{cssClass}}" autocomplete="off">

    <div class="itemdata">
        <div class="item-header">
            <div class="vertical-header">
                {{localize 'dgalt.labels.skillsheet.header'}}
            </div>
        </div>

        <div class="item-block">

            <div class="item-titlebar">

                <img class="item-icon" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                <div class="expand">
                    <div class="form-label">{{localize 'name'}}</div>
                    <input class="form-inputbox item-label" name="name" type="text" value="{{item.name}}"
                        placeholder="{{ localize 'Name' }}" />
                </div>
                <div class="center">
                    <div class="form-label">{{localize 'dgalt.labels.skillsheet.value'}}</div>
                    <input class="form-inputbox-number-stretch" type="number" name="data.value"
                        value="{{data.data.value}}" data-dtype="number" />
                </div>

            </div>

            <div class="item-data">

                <div class="form-hor-group">
                    <div class="center">
                        <div class="form-label">{{localize
                            'dgalt.labels.skillsheet.canimprove'}}</div>
                        <a class="item-control item-checkmark" title="CHECK" data-field="data.canimprove"><i
                                class="fas {{#if data.data.canimprove}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>

                    </div>
                    <div class="center">
                        <div class="form-label">{{localize
                            'dgalt.labels.skillsheet.failcheck'}}</div>
                        <a class="item-control item-checkmark" title="CHECK" data-field="data.failcheck"><i
                                class="fas {{#if data.data.failcheck}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>

                    </div>

                    <div class="center">
                        <div class="form-label">{{localize 'dgalt.labels.skillsheet.base'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.base" value="{{data.data.base}}"
                            data-dtype="number" />
                    </div>

                </div>
            </div>


            <div class="form-label">{{localize 'dgalt.labels.skillsheet.description'}}</div>

            {{editor content=data.data.description target="data.description" button=true owner=owner
            editable=editable}}


        </div>
    </div>


</form>