<form class="{{cssClass}}" autocomplete="off">

    <div class="container">
        <div class="item-header">
            <div class="vertical-header">
                {{localize 'dgalt.labels.skillsheet.header'}}
            </div>
        </div>
        <div class="item-top">
            <div class="item-icon">
                <img class="item-icon" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64"
                    width="64" />
            </div>
            <div class="item-main">
                <div class="item-title">
                    <input class="form-inputbox" name="name" type="text" value="{{item.name}}"
                        placeholder="{{ localize 'Name' }}" />
                </div>
                <div class="item-data">
                    <div>
                        <div class="form-label">{{localize
                            'dgalt.labels.skillsheet.canimprove'}}</div>
                        <a class="item-control item-checkmark" title="CHECK" data-field="data.canimprove"><i
                                class="fas {{#if data.data.canimprove}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>

                    </div>
                    <div>
                        <div class="form-label">{{localize
                            'dgalt.labels.skillsheet.failcheck'}}</div>
                        <a class="item-control item-checkmark" title="CHECK" data-field="data.failcheck"><i
                                class="fas {{#if data.data.failcheck}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>

                    </div>

                    <div>
                        <div class="form-label">{{localize 'dgalt.labels.skillsheet.base'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.base" value="{{data.data.base}}"
                            data-dtype="number" />
                    </div>
                    <div>
                        <div class="form-label">{{localize 'dgalt.labels.skillsheet.value'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.value" value="{{data.data.value}}"
                            data-dtype="number" />
                    </div>
                </div>
            </div>
        </div>
        <div class="item-description">
            <div class="form-label">{{localize 'dgalt.labels.skillsheet.description'}}</div>

            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </div>


</form>