<form class="{{cssClass}}" autocomplete="off">


    <div class="itemdata">
        <div class="item-header">
            <div class="vertical-header">
                {{ localize "dgalt.labels.weaponsheet.header"}}
            </div>
        </div>
        <div class="item-block">
            <div class="item-titlebar">
                <img class="item-icon" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                <div class="expand">
                    <div class="form-label">{{localize 'name'}}</div>
                    <input class="form-inputbox item-label" name="name" type="text" value="{{item.name}}"
                        placeholder="{{ localize 'Name' }}" />
                </div>

            </div>
            <div class="item-data">




                <div class="form-hor-group">
                    <div>
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.attackskill'}}</div>
                        <select class="select" name="data.attackskill">
                            {{selectOptions config.attackskills selected=data.data.attackskill localize=true}}
                        </select>

                    </div>
                    <div class="center">
                        <div class="form-label">%</div>

                        <input class="form-inputbox-number" type="number" name="data.attackvalue" data-dtype="number"
                            readonly value="{{selectattack item.actor.data.data.attacks data.data.attackskill}}">

                    </div>
                    <div class="center">
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.mod'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.mod" value="{{data.data.mod}}"
                            data-dtype="number" />
                    </div>
                </div>

                <hr>

                <div class="form-hor-group">
                    <div class="center">
                        <div class="form-label">{{localize
                            'dgalt.labels.weaponsheet.islethal'}}</div>
                        <a class="item-control item-checkmark" data-field="data.islethal"><i
                                class="fas {{#if data.data.islethal}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    </div>


                    <div class="center">
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.damage'}}</div>
                        <input class="form-inputbox-centered shorttext" type="text" name="data.damage"
                            value="{{data.data.damage}}" data-dtype="string" />
                    </div>

                    <div class="center">
                        <div class="form-label">{{localize
                            'dgalt.labels.weaponsheet.db'}}</div>
                        <a class="item-control item-checkmark" data-field="data.db"><i
                                class="fas {{#if data.data.db}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    </div>

                    <div class="center contract">
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.ap'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.ap" value="{{data.data.ap}}"
                            data-dtype="number" />
                    </div>

                    <div class="center">
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.lethality'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.lethality"
                            value="{{data.data.lethality}}" data-dtype="number" />
                    </div>
                    <div class="center">
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.killradius'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.killradius"
                            value="{{data.data.killradius}}" data-dtype="number" />
                    </div>

                </div>

                <div class="form-hor-group">
                    <div class="center">
                        <div class="form-label">{{localize
                            'dgalt.labels.weaponsheet.isranged'}}</div>
                        <a class="item-control item-checkmark" data-field="data.isranged"><i
                                class="fas {{#if data.data.isranged}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    </div>
                    {{#if data.data.isranged}}
                    <div class="center">
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.range'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.range" value="{{data.data.range}}"
                            data-dtype="number" />
                    </div>
                    {{/if}}
                </div>

                <div class="form-hor-group">
                    <div class="center">
                        <div class="form-label">{{localize
                            'dgalt.labels.weaponsheet.usesammo'}}</div>
                        <a class="item-control item-checkmark" data-field="data.usesammo"><i
                                class="fas {{#if data.data.usesammo}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    </div>
                    {{#if data.data.usesammo}}

                    <div class="center">
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.currammo'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.ammocurrent"
                            value="{{data.data.ammocurrent}}" data-dtype="number" />
                    </div>
                    /
                    <div class="center">
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.maxammo'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.ammomax"
                            value="{{data.data.ammomax}}" data-dtype="number" />
                    </div>

                    <div class="center">
                        <div class="form-label">{{localize 'dgalt.labels.weaponsheet.ammoperattack'}}</div>
                        <input class="form-inputbox-number" type="number" name="data.ammoperattack"
                            value="{{data.data.ammoperattack}}" data-dtype="number" />
                    </div>


                    {{/if}}
                </div>
                <hr>

                <div class="form-hor-group">
                    <div>
                        <div class="form-label">{{localize
                            'dgalt.labels.weaponsheet.expense'}}</div>
                        <select class="select" name="data.expense">
                            {{selectOptions config.expense selected=data.data.expense localize=true}}
                        </select>
                    </div>
                </div>

                <div class="form-hor-group">
                    <a class="item-control item-checkmark" data-field="data.isrestricted"><i
                            class="fas {{#if data.data.isrestricted}}fa-plus-square{{else}}fa-square{{/if}}"></i></a>
                    <div class="form-label">{{localize
                        'dgalt.labels.weaponsheet.isrestricted'}}</div>
                </div>

            </div>

            <div>

            </div>

            <div class="form-label">{{localize 'dgalt.labels.skillsheet.description'}}</div>
            {{editor content=data.data.description target="data.description" button=true owner=owner
            editable=editable}}
        </div>
    </div>
</form>